@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar for Chrome, Safari and Opera */
#messages::-webkit-scrollbar, #cc::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#messages, #cc {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

input[type="range"] {
  -webkit-appearance: none;
/*  margin-right: 15px;
  width: 200px;
  height: 7px;*/
/*  background: rgba(255, 255, 0, 0.6);*/
  background: rgba(229 231 235, 0.6);
  border-radius: 0px;
  border-width: 0px;
  background-image: linear-gradient(rgb(2 132 199), rgb(2 132 199));
  background-size: 0% 100%;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: rgb(2 132 199);
/*  cursor: ew-resize; */
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

[x-cloak] { display: none !important; }